<h1>User signup</h1>



<%= form_for(@user) do |form| %>

    <%= form.label 'First name' %>
    <%= form.text_field :firstname, class: 'form-control' %>

    <%= form.label 'Last name' %>
    <%= form.text_field :lastname, class: 'form-control' %>

    <%= form.label 'Email' %>
    <%= form.text_field :email, class: 'form-control' %>

    <%= form.label 'Institution' %>
    <%= form.text_field :institution, class: 'form-control' %>

    <%= form.label 'Division' %>
    <%= form.text_field :division, class: 'form-control' %>

    <%= form.label 'Password' %>
    <%= form.password_field :password, class: 'form-control' %>

    <%= form.label 'Password confirmation' %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>

    <%= form.submit "Register", class: "btn btn-primary" %>





<% end %>
