



<%= link_to "Create New Record", new_record_path, class: "btn btn-primary btn", role: "button" %>
<%= link_to "Import from JSON", 'records/new', class: "btn btn-default btn", role: "button" %>
<%= link_to "Batch Loader", 'records/new', class: "btn btn-default btn", role: "button" %>
<hr>

<h4>Recently Updated Records for <%= @user.firstname %></h4>
<ul class="list-group">
  <% @records.order(updated_at: :desc).take(20).each do |record| %>
      <a href="<%= records_path(record).sub! '.', '/' %>" class="list-group-item">
        <% unless record.datasets.empty? %><span class="badge alert-success">dataset</span><% end %>

        <span class="badge alert-danger"><%= record.uuid %></span>
        <span class="badge alert-info">updated <%= distance_of_time_in_words_to_now(record.updated_at) %> ago</span>
        <%= record.dc_title_s %>
      </a>
  <% end %>

</ul>