

<%= link_to "Create New Record", 'records/new', class: "btn btn-primary btn", role: "button" %>
<%= link_to "Import from JSON", 'records/new', class: "btn btn-default btn", role: "button" %>
<%= link_to "Batch Loader", 'records/new', class: "btn btn-default btn", role: "button" %>
 <hr>

<h4>Recently Updated</h4>
<ul class="list-group">
<% @user.records.each do |record| %>
      <li class="list-group-item">
        <span class="badge alert-success" ><b>uuid:</b> <%= record.uuid %></span>
        <span class="badge alert-info">Created: <%= record.updated_at.strftime("%A, %B %Y") %></span>
        <span class="badge alert-danger"><%= link_to "JSON", record_path(record, :format => "json") %></span>

        <%= link_to record.dc_title_s, record %>

      </li>


<% end %>

    </ul>