<h3>Create a new record:</h3>


<div class="row">
<div class="col-md-5 col-md-offset-0">

  <%= form_for(@record) do |form| %>

      <%= form.label 'Metadata Schema', class: "form_id" %>
      <%= form.text_field :schema, class: 'form-control', placeholder: "GeoBlacklight" %>

      <%= form.label 'Unique Identifier (UUID)', class: "form_id" %>
      <%= form.text_field :uuid, class: 'form-control' %>

      <%= form.label 'Title', class: "form_id"  %>
      <%= form.text_field :dc_title_s, class: 'form-control' %>

      <%= form.label 'Solr Year', class: "form_id"  %>
      <%= form.text_field :solr_year_i, class: 'form-control' %>

      <%= form.label 'Creator', class: "form_id"  %>
      <%= form.text_field :dc_creator_sm, class: 'form-control', multiple: true, 'data-delimiter' => ';' %>


      <%= form.submit "Create record", class: "btn btn-primary" %>
  <% end %>




</div>
    </div>