<div id="map">
  <script>
      var center = <%= @centroid %>;
      var map = L.map('map').setView(center, <%= @zoom %>);
      L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
          detectRetina: true
      }).addTo(map);

      <% if !@polygon.nil? %>
      var polygon = L.polygon(<%= @polygon %>).addTo(map);
      map.fitBounds(polygon);
      <% end %>

  </script>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4><b><%= @record.dc_title_s %></b><br><code><%= @record.uuid %></code></h4>
      </div>
      <table class="table table-striped table-hover table-bordered">
        <% @record.attributes.each do |key, value| %>
            <tr>
              <td><b><%= translate(key) %></b></td>
              <td><%= key %></td>
              <td><code><%= value %></code></td>
            </tr>
        <% end %>

        <% unless @record.datasets.first.nil? %>
            <td><b>Attached Datasets</b></td>
            <td></td>
            <td>
              <% @record.datasets.first.multiattach.each do |attach| %>
                  <code><%= attach.to_s.split('/')[-1] %><br></code>
              <% end %>
            </td>


        <% end %>
      </table>

    </div>
  </div>

  <div class="col-md-4">
    <div class="list-group">
      <h4>Options</h4>
      <%= link_to "Edit Record", edit_record_path, class: "list-group-item" %>
      <%= link_to "Delete Record", record_destroy_path, :method => :delete, class: "list-group-item list-group-item-danger" %>
      <a href="?format=json" class="list-group-item">Export JSON</a>
      <a href="#" class="list-group-item">Open on OGM</a>

    </div>

    <% unless @record.datasets.empty? %>
        <div class="list-group">
          <h5>Data Attachments</h5>
          <% @record.datasets.first.multiattach.each do |attach| %>
              <a href="/download/<%= @record.datasets.first.id %>/<%= attach.to_s.split('/')[-1] %>" class="list-group-item"><code><%= attach.to_s.split('/')[-1] %></code></a>
          <% end %>
        </div>
    <% end %>


    <% unless @record.processor_count.nil? || @record.processor_count == 0 %>
        <div class="list-group">
          <h5>Generated Download</h5>
              <a href="/download/<%= @record.datasets.first.id %>/generated.zip" class="list-group-item"><code>SHP, WGS84, SQL</code></a>
        </div>
    <% end %>


        <h5>Admin</h5>
        <div class="well">
          <% unless @record.datasets.empty? %>
          <a href="#" class="list-group-item">Unpack + Parse Dataset</a>
          <a href="#" class="list-group-item">Quarantine</a>
          <% @record.datasets.first.multiattach.each do |attach| %>
              <a href="/processor/<%= @record.datasets.first.id %>/<%= attach.to_s.split('/')[-1] %>" class="list-group-item"><code><%= attach.to_s.split('/')[-1] %></code></a>
          <% end %>
          <% end %>
        </div>


  </div>

</div>


