<div id="map">
  <script>

      var center = <%= @centroid %>;
      var map = L.map('map').setView(center, <%= @zoom %>);

      L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
          maxZoom: 18,
          detectRetina: true,
      }).addTo(map);

      var preview = L.tileLayer.wms('https://maps-public.geo.nyu.edu/geoserver/sdr/wms', {
          layers: 'sdr:nyu_2451_33888',
          format: 'image/png',
          transparent: true,
          detectRetina: true,
      }).addTo(map);

      <% if !@polygon.nil? %>
      var polygon = L.polygon(<%= @polygon %>).addTo(map);
      map.fitBounds(polygon);
      <% end %>

  </script>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4><b><%= @record.dc_title_s %></b><br><code><%= @record.uuid %></code></h4>
      </div>
      <table class="table table-striped table-hover table-bordered">
        <% @record.attributes.each do |key, value| %>
            <tr>
              <td><b><%= translate(key) %></b></td>
              <td><%= key %></td>
              <td><code><%= value %></code></td>
            </tr>
        <% end %>

        <% unless @record.datasets.first.nil? %>
            <td><b>Attached Datasets</b></td>
            <td></td>
            <td>
              <% @record.datasets.first.multiattach.each do |attach| %>
                  <code><%= attach.to_s.split('/')[-1] %><br></code>
              <% end %>
            </td>


        <% end %>
      </table>

    </div>
  </div>

  <div class="col-md-4">
    <div class="list-group">
      <h4>Options</h4>
      <%= link_to "Edit Record", edit_record_path, class: "list-group-item" %>
      <%= link_to "Delete Record", edit_record_path, class: "list-group-item list-group-item-danger" %>
      <a href="?format=json" class="list-group-item">Export JSON</a>
      <a href="#" class="list-group-item">Open on OGM</a>

    </div>

    <% unless @record.datasets.empty? %>
        <div class="list-group">
          <h5>Data Attachments</h5>
          <% @record.datasets.first.multiattach.each do |attach| %>
              <a href="/download/<%= @record.datasets.first.id %>/<%= attach.to_s.split('/')[-1] %>" class="list-group-item"><code><%= attach.to_s.split('/')[-1] %></code></a>
          <% end %>
        </div>
    <% end %>

    <% if is_admin?(current_user) %>
        <h5>Admin</h5>
        <div class="well">
          <a href="#" class="list-group-item">Unpack + Parse Dataset</a>
          <a href="#" class="list-group-item">Quarantine</a>
          <% @record.datasets.first.multiattach.each do |attach| %>
              <a href="/processor/<%= @record.datasets.first.id %>/<%= attach.to_s.split('/')[-1] %>" class="list-group-item"><code><%= attach.to_s.split('/')[-1] %></code></a>
          <% end %>
        </div>
    <% end %>

  </div>

</div>


