<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "MetaAuthor", root_path , id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to "Home", root_path %></li>

            <li><%= link_to "Deposit Dataset", datasets_path unless !user_signed_in? %></li>
            <li><%= link_to "Edit Metadata", records_path unless !user_signed_in? %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete unless !user_signed_in? %></li>
            <li><%= link_to current_user.email, current_user unless !user_signed_in? %></li>

        <li><%= link_to 'Login', user_session_path unless user_signed_in? %></li>
        <li><%= link_to 'Register', new_user_registration_path unless user_signed_in? %></li>

      </ul>
    </nav>

  </div>
</header>