<div id="map">
  <script>

      var map = L.map('map').setView([0,0], 2);

      var featureGroup = L.featureGroup().addTo(map);

      L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
          detectRetina: true
      }).addTo(map);

      var drawControl = new L.Control.Draw({
          edit: {
              featureGroup: featureGroup
          }
      }).addTo(map);

      map.on('draw:created', function(e) {
          featureGroup.addLayer(e.layer);
          console.log(e);
          if (e.layerType == "rectangle") {
              S = e.layer._latlngs[0].lat;
              W = e.layer._latlngs[0].lng;
              N = e.layer._latlngs[1].lat;
              E = e.layer._latlngs[2].lng;
              console.log(N + " " + S + " " + E + " " + W);
              document.getElementById("solr_geom").value = "ENVELOPE(" + W + ", " + E + ", " + N + ", " + S + ")";
              document.getElementById("georss_box_s").value = S + " " + W + " " + N + " " + E;
              document.getElementById("georss_polygon_s").value = S + " " + W + " " + N + " " + W + " " + N + " " + E + " " + S + " " + E + " " + S + " " + W;

          }
      });


  </script>
</div>


<div class="row">
  <div class="col-md-5 col-md-offset-0">

    <%= form_for(@record) do |form| %>

        <%= form.label 'Metadata Schema', class: "form_id" %>
        <%= form.select :schema, ['GeoBlacklight', 'ISO 19119', 'FGDC'], {}, {class: 'form-control'} %>

        <%= form.label 'Unique Identifier (UUID)', class: "form_id" %>
        <%= form.text_field :uuid, class: 'form-control' %>

        <%= form.label 'Title', class: "form_id" %>
        <%= form.text_field :dc_title_s, class: 'form-control' %>

        <%= form.label 'Description', class: "form_id" %>
        <%= form.text_field :dc_description_s, class: 'form-control' %>

        <%= form.label 'Creator', class: "form_id" %>
        <%= form.text_field :dc_creator_sm, class: 'form-control', multiple: true, 'data-delimiter' => ';' %>

        <%= form.label 'Rights', class: "form_id" %>
        <%= form.select :dc_rights_s, ['Restricted', 'Public'], {}, {class: 'form-control'} %>

        <%= form.label 'Provenance', class: "form_id" %>
        <%= form.text_field :dct_provenance_s, class: 'form-control', placeholder: 'NYU' %>

        <%= form.label 'References', class: "form_id" %>
        <%= form.text_field :dct_references_s, class: 'form-control' %>

        <%= form.label 'Layer ID', class: "form_id" %>
        <%= form.text_field :layer_id_s, class: 'form-control' %>

        <%= form.label 'Geometry Type', class: "form_id" %>
        <%= form.select :layer_geom_type_s, ['Point', 'Line', 'Polygon'], {}, {class: 'form-control'} %>

        <%= form.label 'Layer Slug', class: "form_id" %>
        <%= form.text_field :layer_slug_s, class: 'form-control' %>

        <%= form.label 'GeoRSS Bounding Box', class: "form_id" %>
        <%= form.text_field :georss_box_s, class: 'form-control', id: 'georss_box_s' %>

        <%= form.label 'GeoRSS Polygon', class: "form_id" %>
        <%= form.text_field :georss_polygon_s, class: 'form-control', id: 'georss_polygon_s' %>

        <%= form.label 'Solr Bounding Box', class: "form_id" %>
        <%= form.text_field :solr_geom, class: 'form-control', id: 'solr_geom' %>

        <%= form.label 'Solr Year', class: "form_id" %>
        <%= form.text_field :solr_year_i, class: 'form-control' %>

        <%= form.submit "Submit record", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>